.wrapper {
    width: 1600px;
    margin: 0 auto;
    background: #ffffff;

    /*font-size: 0;*/
}
.headrer_wrapper {
    position: relative;

}
.img_header {
    width: 100%;
}
.header {
    position: absolute;
    top: 0;
    left: 320px;
    width: 960px;

    color: #ffffff;
}
.logo_small {
    position: absolute;
    top: 16px;
    left: 10px;
}
.logotext {
    position: absolute;
    top: 25px;
    left: 65px;

}
.nav {
    position: absolute;
    top: 33px;
    left: 412px;

    letter-spacing: 0.02em;
}
.nav:last-child {
    padding-right: 0;
}
.menu {
    padding: 10px 12px;

    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
}
.header_main {
    margin: 224px auto 0 auto;
    width: 780px;

}
.header_head {
    text-align: center;
    font-size: 35px;
}
.header_separate {
    border: calc(1px / 4) solid #03d4c8;
    width: 50px;
    margin: 20px auto 20px auto;
}
.header_text {
    text-align: center;
}
.header_button {
    text-align: center;
}