<!DOCTYPE>
<html ng-app="myApp">
<link href="sryles/styles.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
    .odd {background-color: lightgreen}
    .even {background-color: lightcyan}
</style>
<body>
<table ng-controller="phoneController">
    <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
    </thead>
    <tr ng-repeat="phone in phones" ng-class="$odd ? 'odd' : 'even'">
        <td>{{$index + 1}}</td>
        <td>{{phone.name}}</td>
        <td>{{phone.price}}</td>
    </tr>
</table>
<!--<div ng-controller="phoneController">
    <ul>
        <li ng-repeat="phone in phones">
            <b>{{phone.name}}</b>
            <p>Price: {{phone.price}} $</p>
            <p>Company: {{phone.company.name}}</p>
        </li>
    </ul>
</div>-->

<script src="script/script.js"></script>
<script src="script/modules.js"></script>
<script src="script/controllers.js"></script>
<script src="script/directives.js"></script>
</body>
</html>