body {
    width: 1000px;
    margin: auto;
    font-family: sans-serif;
}
.header {
    background-color: black;
    height: 100px;
}
.center {
    width: 80%;
    margin: auto;
}
.header_nav {
    background-color: #727272;
    height: 100%;
    position: relative;
}
.nav_links {
    display: block;
    position: absolute;
    color: white;
    top: 10px;
    right: 20px;
}
a {
    text-decoration: none;
}
.nav_links a {
    color: white;
}
.logo {
    position: relative;
    background-color: #09bfa8;
    width: 100px;
    height: 60%;
    text-align: center;
    left: 30px;
    top: 20%;
}
.before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.inner {
    display: inline-block;
    vertical-align: middle;
}
.logo_text {
    font-size: 2em;
    color: gray;
}
.main {
    position: relative;
}
.green {
    background: linear-gradient(to bottom, #60911c, white);
    height: 100px;
    position: absolute;
    width: 100%;
}
.content {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
}
.blue {
    background: linear-gradient(to bottom, #7bbab2, white);
    height: 100px;
    position: relative;
}
aside {

    position: absolute;
    width: 25%;
}
aside h2 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 12pt;
}
aside li {
    list-style-type: none;
    font-size: 0.5em;
    margin-bottom: 10px;
}
aside img {
    width: 50px;
    height: 40px;
    float: left;
    margin: 0 5px 5px 0;
}
aside a {
    color: black;
}
aside ul {
    margin-left: -20px;
}
aside li {
    margin-bottom: 30px;
}
.main_inner {
    position: absolute;
    right: 0;
    width: 73%;
    margin-top: 25px;
}
.inner_links {
    text-align: center;
    margin-top: 15px;
}
.inner_links a {
    color: darkblue;
    font-size: 14pt;
    margin-left: 20px;
}
.inner_text {
    padding-right: 50px;
}
.inner_text h1 {
    font-size: 16pt;
}
.inner_text h2 {
    font-size: 14pt;
}
.inner_text p {
    font-size: 8pt;
    text-align: justify;
}
article {
    margin-bottom: 40px;
}