body {
    width: 1000px;
    margin: auto;
    font-family: sans-serif;
}
.header {
    background-color: black;
    height: 100px;
}
.header_nav {
    background-color: gray;
    width: 80%;
    margin: auto;
    height: 100%;
}
.nav_links {
    color: white;
    float: right;
    margin: 10px 20px;
}
a {
    text-decoration: none;
}
.nav_links a {
    color: white;
}
