.wrapper_all {
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: #939393;
}
.wrapper_header {
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(240, 235, 240, 1) 26%, rgba(219, 216, 219, 1) 51%, rgba(204, 204, 204, 1) 51%, rgba(233, 233, 233, 1) 100%);
}
.center {
    width: 870px;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper_links {
    float: left;
}
.links {
    font-size: 0;
}
.wrapper_links a {
    font-size: 10px;
    color: #666666;
    text-decoration: none;
    display: inline-block;
    padding: 30px 20px;
    border-left: 1px solid #d9d9d9;
    box-shadow: inset 10px 2px 0 -9px rgba(255, 255, 255, 1);
}
.wrapper_links a:active {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(225, 225, 225, 1) 50%, rgba(242, 242, 242, 1) 100%);
    color: #0087c7;
}
.wrapper_links a:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(225, 225, 225, 1) 50%, rgba(242, 242, 242, 1) 100%);
    color: #0087c7;
}
form {
    display: inline-block;
    border-left: 1px solid #d9d9d9;
    box-shadow: inset 10px 2px 0 -9px rgba(255, 255, 255, 1);
}
.inp {
    width: 290px;
    font-style: italic;
    font-size: 10px;
    padding: 15px 0;
    border-radius: 20px;
    border: none;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    box-sizing: border-box;
    margin: 15px 20px;
}
button {
    border-radius: 30px;
    border: none;
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(242, 237, 242, 1) 26%, rgba(233, 232, 235, 1) 50%, rgba(224, 223, 227, 1) 50%, rgba(250, 250, 250, 1) 100%);
    cursor: pointer;
}
.go {
    padding: 5px 0;
    color: #666666;
    font-size: 10px;
    width: 54px;
}
.main_arclical {
    background: #f1f1f1;
    overflow: hidden;
    border-top: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: inset 2px 10px 0 -9px rgba(255, 255, 255, 1);
    padding: 50px 0 30px 0;
}
.logo_slogan {
    margin-bottom: 50px;
    font-size: 0;
}
.logo {
    display: inline-block;
}
.slogan {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    font-size: 16px;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.img_new_york {
    display: block;
    width: 485px;
    height: 175px;
    border: 10px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 10px;
    margin-right: 18px;
}
.arctical_1-wrapper {

}
.h_new_york {
    font-size: 30px;
    color: #0087c7;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
}
.line {
    border-top: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    width: 274px;
    margin-left: 0;
    margin-top: 5px;
}
.arctical_1 {
    line-height: 2em;
    font-size: 12px;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}
.read_more {
    font-style: italic;
    color: #0087c7;
    text-decoration: none;
}
.wrapper_main {
    padding: 15px 0;
    background: #fbfbfb;
    overflow: hidden;
    border-top: 1px solid #d9d9d9;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
    box-sizing: border-box;
    position: relative;
}
.arctical-wrapper {
    display:flex;
    justify-content: space-between;
}
.aside {
    background: transparent;
    width: 348px;
    margin-right: 15px;
}
.arctical_left {
    background: #f1f1f1;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
    border-radius: 30px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}
.arctical_left:last-child {
    margin: 0;
}
.arctical_left div {
    padding: 19px;
    display: flex;
    justify-content: space-between;
}
.img_small {
    width: 53px;
    height: 70px;
    margin-right: 20px;
}
.arctical_2 {
    background: #f1f1f1;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
    border-radius: 30px;
    font-size: 12px;
    line-height: 2em;
    text-align: justify;
    width: 506px;
    padding: 20px 25px 20px 25px;
}
.arctical_2 div {

}
.h_lorem {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
}
.blue {
    color: #0087c7;
    font-style: italic;
}
footer {
    background: #fbfbfb;
}
.foot {
    height: 80px;
    background: #f1f1f1;
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
}
.foot p {
    padding: 20px 15px;
}
