body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0;
}
.wrapper {
    width: 1920px;
    margin: 0 auto;
}
.header_wrap {
    background: #ffffff;
}
.header {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 0 11px;
    z-index: 20;
}
.logo_wrap {
    margin-top: 18px;
    z-index: 20;
}
.wrapper_nav {
    margin: 2px 0 0 26px;
    z-index: 20;
}
.nav {
    padding: 10px 17px;

    font-size: 18px;
    color: #f26722;
    text-transform: uppercase;
    z-index: 20;
}
.nav:hover {
    background: #ffeadf;
}
.icons_wrap {
    margin: 0 0 0 58px;
    z-index: 20;
}
.a_icon {
    display: inline-block;
    background: url("../img/sprite.png") no-repeat;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    z-index: 20;
}
.a_icon:first-child{
    background-position: -27px -16px;
    margin-right: 23px;
}
.a_icon:nth-child(2){
    background-position: -105px -18px;
    margin-right: 10px;
}
.a_icon:nth-child(3){
    background-position: -185px -16px;
    margin-right: 2px;
}
.a_icon:last-child {
    background-position: -270px -19px;
}
.a_icon:hover {
    /*придумать что-нибудь*/
}
.wrapper_img_1 {
    position: relative;
    overflow: hidden;
}
.img_1 {
    width:100%;
}
.block_left, .block_right {
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 120px;
    top: -95px;
    z-index: 10;

    background: #ffffff;
}
.block_left {
    left:-5px;

    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.block_right {
    width: 51%;
    left: 50%;

    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
.wrapper_text_img_1 {
    position: absolute;
    top: 250px;
    left: 410px;
    width: 1100px;

    font-family: "Microsoft PhagsPa", sans-serif ;
    color: #ffffff;
    text-transform: uppercase;
}
.h_img_1 {
    text-align: center;
    margin-bottom: 42px;

    font-size: 73px;
    font-weight: 900;;
}
.text_img_1 {
    text-align: center;

    font-size: 30px;
    font-weight: 600;
    line-height: 1.6em;
}
.about_bg {

}
.wrapper_img_2 {
   width: 1920px;
}

/*
.about_bg {
    background: #ffffff;
}
.wrapper_about {
    width: 1200px;
    margin: 0 auto;
}
.h_2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.span_small {
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    color: #3b3b3b;
}
.span_small:first-child {
    text-transform: capitalize;
}
.span_small:last-child {
    text-transform: capitalize;
}
.span_small:nth-last-child(2){
    text-transform: capitalize;
}*/
