@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
.wrapper-all {
    max-width: 1100px;
    margin: 0 auto;
    background: #333333;
    font-family: "MyriadProRegular", sans-serif;
}
/*-------------------HEADER----------------------------*/
.header {
    background: #333333;
}
.header-content {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    max-width: 988px;
    margin: 0 auto;
    padding: 37px 0;
    font-size: 0;
}
.logo-wrapper {
    margin-left: 13px;
}
.logo {
    font-size: 60px;
    color: #eeeeee;
    text-transform: capitalize;
    letter-spacing: -2px;


}
.menu_wrapper {
    margin-top: 35px;
    margin-right: 11px;


}
.menu-item {
    display: inline-block;
    font-size: 0;
}
.menu-item:after {
    content: "--";
    padding: 0 9px;
    font-size: 16px;
    color: #eeeeee;
}
.menu-item:last-child:after {
    content: "";
    padding: 0;
}
.menu-item a{
    font-size: 17px;
    color: #eeeeee;
    text-transform: capitalize;
}
.menu-item a:hover {
    color: #0f94c9;
}
/*--------------------SECTION DESCRIPTION-------------------------------*/
.section-wrapper {
    background: #ffffff;
}
.content-wrapper {
    max-width: 969px;
    margin: 0 auto;
    padding-top: 60px;
}
.description {
    padding-left: 3px;
}
.head-description {
    font-size: 0;
}
.h1-description {
    font-size: 60px;
    font-weight: 900;
    color: #333333;
    text-transform: capitalize;
}
.h1-description-amp {
    color: #00bff3;
}
.h2-description {
    font-size: 50px;
    color: #bbbbbb;
    text-transform: capitalize;
    letter-spacing: -2px;
}
.text-description {
    border-top: 3px dotted #cccccc;
    border-bottom: 3px dotted #cccccc;
    padding: 27px 0 31px 0;
    margin: 35px 0 45px 0;

    font-size: 32px;
    color: #555555;
    line-height: 42px;
    padding-left: 3px;
    letter-spacing: -0.25px;
}
.text-description-bold {
    font-weight: 600;
}
/*--------------------SECTION COLUMNS-------------------------------*/
.columns {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dotted #cccccc;
    padding-bottom: 55px;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #00aeef;
    box-shadow: 3px 3px 3px rgba(122,122,122,0.5);
    padding: 23px 30px;
    color: #ffffff;
    width: 222px;
    height: 345px;
}
.h3-col {
    font-size: 32px;
    padding-bottom: 15px;
    border-bottom: 2px dotted #ffffff;
}
.text-col {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.button-col {
    display: inline-block;
    padding: 10px;
    background: #0076a3;
    box-shadow: inset 0 0 5px #195c74;
    max-width: 155px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}
/*--------------------SECTION ADDITIONAL INFO-------------------------------*/
.additional-info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.clients-wrapper {
    padding: 20px 30px 15px 3px;
    border-right: 3px dotted #cccccc;
    color: #555555;
    width: 50%;
}
.h-add {
    text-transform: capitalize;
    font-size: 24px;
    color: #555555;
}
.client {
    margin: 38px 0;
    font-size: 14px;
}

.photo-client {
    float: left;
    margin-right: 23px;
    vertical-align: middle;
    width: 85px;
    height: 85px;
}
.quote-wrapper {

}
.quote {
    line-height: 20px;
}
.author {
    display: block;
    margin: 15px 0 5px 0;
    font-weight: 600;
    font-size: 14px;
}
.work {
    display: block;
    color: #00aeef;
}