body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}
.header_bg {
    background: #33373f;
}
.header {
    width: 980px;
    margin: 0 auto;
}
.logo {
    text-decoration: none;
    color: #a5adb8;
    text-transform: uppercase;
    font-size: 30px;
}
.red-letter {
    color: #ae4b5d;
}