//import
@import "variables", "mixin";
//---------main stiles--------------------------------------------------------
.wrapper-main {
  background: $main-bg;
  font: 14px $main-font;
  color: $main-color;
  .content {
    max-width: $main-width;
    margin: 50px auto;
    padding: 0 10px;
  }
}

.box {
  padding: $box-padding-vertical $box-padding-horizontal;
  margin: 20px 0;
  background: $box-bg;
  @include border-radius($box-radius);
  @include box-shadow($shadow);
}

.box-big {
  border-top: 3px solid $active-color;
  padding: $box-big-padding;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  word-spacing: $withoutspace;
}

//menu
.menu {
  li {
    display: inline-block;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    a {
      //vertical-align: middle;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $main-color;
      &.active {
        color: $active-color;
      }
      &:hover {
        text-decoration: none;
        color: $active-color;
      }
    }
  }
}

//menu end//
//status
.status__offline, .status__online {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  width: 30px;
  height: 30px;
  border: 2px solid $active-color;
  cursor: pointer;
  @include border-radius(50%);
  &.active:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: $active-color;
    @include border-radius(50%);
  }
}

.status__offline {
  border-color: $offline-color;
  &.active:after {
    background: $offline-color;
  }
}

//status end//
//tooltip settings (bootstrap)
.tooltip-inner {
  font-family: $main-font;
  font-size: 13px;
  background-color: $active-color;
  padding: 10px 9px;
  word-break: keep-all;
}

.tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1;
}

.tooltip.top .tooltip-arrow {
  border-top-color: $active-color;
}

//tooltip settings (bootstrap) end//

//profile
.profile {
  .avatar {
    width: 60px;
    height: 60px;
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.profile__name {
  line-height: normal;
  word-spacing: normal;
  .name {
    text-transform: capitalize;
    font-weight: 700;
    color: $active-color;
  }
}

//profile end//

//icons with counts
.icon-wrap {
  word-spacing: $withoutspace;
  a {
    position: relative;
  }
  .icon {
    width: 22px;
    height: 22px;
    margin-right: 20px;
  }
  .icon-settings {
    background: url("../images/sprite.png") no-repeat -1px -1px;
  }
  .icon-alert {
    background: url("../images/sprite.png") no-repeat -34px -1px;
  }
  .icon-calendar {
    background: url("../images/sprite.png") no-repeat -68px -1px;
  }
  .icon-count {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    left: 14px;
    background: $active-color;
    @include border-radius (8px);
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }
}

//icons with counts end//
//input styles
.input {
  width: 100%;
  line-height: normal;
  border: 2px solid #eeeeee;
  @include border-radius(5px);
  padding: 8px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  @include placeholder {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: $placeholder-color;
  }
}

.inp-login, .inp-password, .inp-mail {
  padding-left: 40px;
}

.inp-login {
  background: url("../images/sprite.png") no-repeat 15px -43px;
}

.inp-password {
  background: url("../images/sprite.png") no-repeat 13px -105px;
}

.inp-mail {
  background: url("../images/sprite.png") no-repeat 12px -297px;
}

//input styles end//
//btn on input with icon
.btn {
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
}

//btn on input with icon end//
// button
.button {
  border: none;
  @include border-radius(5px);
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background: $active-color;
  height: 42px;
}

// button end//

// button socials
.btn-social {
  border: none;
  @include border-radius(5px);
  width: 42px;
  height: 42px;
  margin-right: 5px;
  &:last-of-type {
    margin-right: 0;
  }
}

.btn-twitter {
  background: #25aae2 url("../images/sprite.png") no-repeat 12px -159px;
}

.btn-facebook {
  background: #0f75bd url("../images/sprite.png") no-repeat 15px -215px;
}

.btn-google {
  background: #e62c2c url("../images/sprite.png") no-repeat 14px -365px;
}

.btn-add {
  background: #eeeeee url("../images/sprite.png") no-repeat 13px -417px;
}
// button socials end//

//box title
.box-title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

//box title end//
//progress Bar
.progressBar-wrapper {
  font-weight: 700;
  margin-bottom: 15px;
  .progressBar-name {
    display: inline-block;
    margin-bottom: 8px;
  }
  .progressBar-index {
    float: right;
    display: inline-block;
    color: $active-color;
    margin-bottom: 8px;
    span {
      display: inline-block;
      color: $main-color;
    }
  }
  .progressBar-bg {
    width: 100%;
    height: 20px;
    background: #eeeeee;
    @include border-radius(4px);
  }
  .progressBar {
    height: 20px;
    background: $active-color;
    @include border-radius(4px);
  }
}

//progress Bar end//
//---------main stiles end---//-----------------------------------------------------

//-----------box menu---------------------------------------------------------
.box-menu {
  $current-height: 100px;
  height: $current-height;
  line-height: $current-height - 2 * $box-padding-vertical;
  .status {
    float: right;
  }
}

.tooltip-inner {
  width: 130px;
}

//-----------box menu-end---//-----------------------------------------------------

//------------box notification bar-----------------------------------------------------------------
.box-notifBar {
  $current-height: 100px;
  height: $current-height;
  line-height: $current-height - 2 * $box-padding-vertical;
}

//icons with counts
.icon-wrap {
  float: right;
}

//icons with counts end
//--------------box notafication bar alt---------------------------------------------------------
.box-notifBarAlt {
  $current-height: 60px;
  height: $current-height;
  line-height: $current-height - 2 * $box-padding-vertical;
  word-spacing: -0.36em;
  .avatar {
    width: 20px;
    height: 20px;
    border: none;
  }
  .name {
    font-size: 18px;
  }
  .menu {
    position: relative;
    margin: 0 60px;
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 40px;
      top: calc(50% - 20px);
      background: #eeeeee;
    }
    &:before {
      left: -35px;
    }
    &:after {
      right: -30px;
    }
  }
}

.search-wrap {
  position: relative;
  .inp-search {
    width: 190px;
  }
  .btn-search {
    right: 8px;
    background: transparent url("../images/sprite.png") -102px 1px;
  }
}

//--------------box notafication bar alt end //---------------------------------------------------------
//----------box-login------------------------------------------------------
.box-login {
  .input {
    margin-bottom: 16px;
  }
  .button {
    width: 50%;
  }
  span {
    font-family: "Arial", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: $placeholder-color;
    margin: 0 20px;
  }

  p {
    font-weight: 700;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      margin: 40px 0;
      background: #eeeeee;
    }
    a {
      text-transform: uppercase;
      color: $active-color;
    }
  }
}

.button-wrap {
  word-spacing: $withoutspace;
}

//----------box-login end-//-----------------------------------------------------
//----------box register-----------------------------------------------------------
.box-register {
  padding-bottom: 65px;
  .form {
    word-spacing: $withoutspace;
  }
  .input {
    width: 48%;
    margin-bottom: 16px;
    &:nth-child(odd) {
      margin-right: 16px;
    }
    @include placeholder {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      text-transform: lowercase;
      color: $placeholder-color;
    }
  }
  span, p, a {
    word-spacing: normal;
  }
  .progressBar-bg {
    height: 8px;
  }
  .progressBar {
    height: 8px;
  }
  .progressBar-password {
    width: 77%;
  }
  .button-wrap {
    margin-top: 37px;
    [type="checkbox"] {
      margin: 0 5px 0 0;
      position: relative;
      top: -19px;
    }
    label {
      max-width: 225px;
      line-height: 22px;
      word-spacing: normal;
      a {
        color: $active-color;
      }
    }
    .button {
      float: right;
      width: 210px;
    }
  }
}

//----------box register end //----------------------------------------------------
//----------box skills----------------------------------------------------
.box-skills {
  .progressBar-name {
    color: $placeholder-color;
  }
  .progressBar-photoshop {
    width: 90%;
  }
  .progressBar-illustrator {
    width: 65%;
  }
  .progressBar-html {
    width: 75%;
  }
  .progressBar-php {
    width: 40%;
  }
}

//----------box skills end //----------------------------------------------------
//----------box profile ----------------------------------------------------
.box-profile {
  .profile {
      position: relative;
    text-align: center;
  }
  .profile-line {
    position: absolute;
    top: -10px;
    left: calc(50% - 70px);
  }
  .avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  .status__online {
    background: #fff;
    position: absolute;
    top: 10px;
    left: calc(50% + 25px);
  }
  .profile__name {
    margin: 10px 0 20px;
  }
  .name {
    text-align: center;
    font-size: 24px;
  }
  h3 {
    text-align: center;
    font-weight: 700;
  }
  .form {
    margin-bottom: 5px;
  }
  .link {
    color: $active-color;
    font-weight: 700;
  }
}

//----------box profile end //----------------------------------------------------