<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
<body ng-app="app">
<div class="wrapper">
    <div class="regForm">
        <h3 class="formTitle">Sign up for your Account</h3>
        <span class="formSubTitle">This is Photoshop's version  of Lorem Ipsum velit auctor aliquet.</span>
        <form name="formReg" id="formReg" action="action.php" method="POST" novalidate>
            <ul>
                <li><label class="label" for="email">email</label></li>
                <li>
                    <input class="input" name="email" type="email" id="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-model="email" required>
                    <div ng-messages="formReg.email.$error" ng-show="formReg.email.$dirty">
                        <div ng-message="required" class="error">* Enter your email</div>
                        <div ng-message="pattern" class="error">* Email is wrong</div>
                    </div>
                </li>
                <li><label class="label" for="name">username</label></li>
                <li><input class="input" name="name" type="text" id="name" value=""></li>
                <li><label class="label" for="password1">password</label></li>
                <li>
                    <input class="input" name="password1" type="password" id="password1" value="" ng-model="password1" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" minlength="8"  maxlength="15" required>
                    <div ng-messages="formReg.password1.$error" ng-show="formReg.password1.$dirty">
                        <div ng-message="required" class="error">* Enter your password</div>
                        <div ng-message="minlength" class="error">* The password must contain  at least 8 characters</div>
                        <div ng-message="maxlength" class="error">* The password must be a maximum of 15 characters</div>
                        <div ng-message="pattern" class="error">* The password must contain at least one digit, one uppercase and one lowercase letter</div>
                    </div>
                </li>
                <li><label class="label" for="password2">confirm password</label></li>
                <li>
                    <input class="input" name="password2" type="password" id="password2" value="" ng-model="password2" pattern="{{password1}}" minlength="8"  maxlength="15" required>
                    <div ng-messages="formReg.password2.$error" ng-show="formReg.password2.$dirty">
                        <div ng-message="required" class="error">* Enter your password again</div>
                        <div ng-message="pattern" class="error">* Passwords do not match</div>
                    </div>
                </li>
                <li class="clearfix">
                    <input class="checkbox" name="checkbox" id="checkbox" type="checkbox" value="" ng-model="checkbox" required>
                    <label class="labelCheckbox" for="checkbox">I have read and agreed with the </label>
                    <a class="link" href="#">terms and conditions</a>
                    <input class="btn" type="submit" name="sign" value="sign up" ng-disabled="formReg.$invalid">
                    <div ng-messages="formReg.checkbox.$error" ng-show="formReg.checkbox.$dirty">
                        <div ng-message="required" class="error errCbx">* Mark the checkbox</div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<script src="scripts/script.js"></script>
</body>
</html>