body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0;
}
.wrapper {
}
.header_wrap {
    padding-bottom: 14px;

    background: #423535;
}
.header_bg {
    background: #ffffff;
}
.block_left, .block_right {
    position: absolute;
    width: 55%;
    height: 120px;
    top: 12px;
    z-index: 10;

    background: #ffffff;
}
.block_left {
    -moz-transform: rotate(-3deg); /* Для Firefox */
    -ms-transform: rotate(-3deg); /* Для IE */
    -webkit-transform: rotate(-3deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-3deg); /* Для Opera */
    transform: rotate(-3deg);
}
.block_right {
    left: 50%;

    -moz-transform: rotate(3deg); /* Для Firefox */
    -ms-transform: rotate(3deg); /* Для IE */
    -webkit-transform: rotate(3deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(3deg); /* Для Opera */
    transform: rotate(3deg);
}
.header {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    z-index: 20;
}
.logo_wrap {
    margin: 18px 0 0 11px;
    z-index: 20;
}
.logo_wrap a {
}
.img_logo {
 }
.wrapper_nav {
    display: inline-block;
    margin: 2px 0 0 28px;
    z-index: 20;
}
.nav {
    padding: 10px 17px;

    font-size: 18px;
    color: #f26722;
    text-transform: uppercase;
}
.icons_wrap {
    margin: 2px 0 0 48px;
    z-index: 20;

    font-size: 20px;
 }
.icon {
    color: #a29f9f;
}
.a_icon {
    padding: 0 10px;
}
.a_icon:first-child {
    margin-right: 10px;
}
.a_icon:last-child {
    padding-right: 0;
}

.wrapper_img_1 {
    position: relative;
    height: 741px;
    overflow: hidden;

 }
.img_1 {
    width:100%;
   }
.flex {
    position:absolute;
    top: 244px;
    text-align: center;
    display: flex;
}
.empty {
    width: calc((100% - 60%) / 2);
}
.wrap_text_img_1 {
    top: 10px;
    width: 60%;

    color: #ffffff;
    text-transform: uppercase;
}
.h_1 {
    text-align: center;
    margin-bottom: 47px;

    font-size: 65px;
    font-weight: 900;

}
.text_1 {
    text-align: center;

    font-size: 30px;
    font-weight: 600;
    line-height: 1.6em;
}
.about_bg {
    background: #ffffff;
}
.wrapper_about {
    width: 1200px;
    margin: 0 auto;
}
.h_2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.span_small {
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    color: #3b3b3b;
}
.span_small:first-child {
    text-transform: capitalize;
}
.span_small:last-child {
    text-transform: capitalize;
}
.span_small:nth-last-child(2){
    text-transform: capitalize;
}